
    /* background-color: #002456 ; */
    
footer{
    background-color: #002456  ;
    height: 25%;


}
/* 
links{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    text-align: left;
}

links div{
    width: 150px;
    margin: 1rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    color: red;
}

.socialmedia{
    display: flex;
    flex-direction: row;
}

.socialmedia img{
    width: 80%;
}

h4{
    font-size: 14px;
    line-height: 15px;
    margin: 0.5rem 0;
    cursor: pointer;

}

@media screen and (max-width: 850px) {
    .header h1{
        font-size: 44px;
        line-height: 50px;

    }
}

@media screen and (max-width: 550px) {
    .header h1{
        font-size: 34px;
        line-height: 42%;
        
    }
} */

.headlogo{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 0px;
}


.socialmedia{
    display: flex;
    
}



.firstrow{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.contact-links{
    display: flex;
    flex-direction: column;
}

.know-links{
    display: flex;
    flex-direction: column;
}